<!DOCTYPE html>
<html>
  <head>
    <title>BioToolStory Middleman</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='index.css') }}"
    />
    <link rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" />
    <link rel="stylesheet"
      href="https://cdn.materialdesignicons.com/5.4.55/css/materialdesignicons.min.css" />
  </head>
  <body>
    <script src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
    <script src="{{ url_for('static', filename='dist/index.js') }}"></script>
  </body>
</html>